* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #333333;
}
/*.navigationList {
    list-style: none;
    display: flex;
    border-top: 1px solid #ccc;
}

.navigationItem {


}*/
.topSection {
    padding: 40px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*background-image: linear-gradient(to right, #000000  , #666699);*/
    background: linear-gradient(to right, #000000 50%, #666699 100%);
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    display: flex;
}

.topSection .homeButton  ion-icon {
    font-size: 25px;
    color: white;
    -webkit-box-reflect: below;
}

.middleSection {
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.middleSection .searchBox {
    border: 2px solid #ccc;
    display: block;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 14px;
    text-color: #ffffff;
    background: rgba(192,192,192,0.4);
}

.middleSection .searchBox input {
    width: 600px;
    height: 35px;
    border: 0;
    outline: 0;
    background: rgba(192,192,192,0.4);
}

.middleSection .seachBox input::placeholder {
    text-color: #ffffff;
    font-size: 27px;
    background: rgba(192,192,192,0.4);
}

::-webkit-input-placeholder {
    text-color: #ffffff;
    font-size: 27px;
}

.middleSection .searchBox ion-icon {
    width: 30px;
    font-size: 25px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.contentSection{
    border-top: 1px solid #ccc;
    padding: 20px 18%;
}

.photosGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photosGrid__Pictures {
    width: calc(33.3% - 2px);
    height: 30vw;
    background-position: center;
    background-size: cover;
    margin-bottom: 3px;
}

div.desc {
    padding: 15px;
    text-align: center;
  }

@media screen and (max-width: 735px) {
    
    .topSection .homeButton  ion-icon {
        font-size: 40px;
        color: white;
    }
    
    .middleSection .searchBox {
        height: 30px;
        border: 2px solid #ccc;
        display: block;
        margin: 0 auto;
        padding: 8px 12px;
        border-radius: 14px;
        text-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        /*background: rgba(192,192,192,0.4);*/
    }

    .middleSection .searchBox input {
        width: 170px;
        height: 25px;
        border: 0;
        outline: 0;
        background: rgba(192,192,192,0.4);
    }

    .middleSection .seachBox input::placeholder {
        text-color: #ffffff;
        font-size: 18px;
        background: rgba(192,192,192,0.4);
    }

    .middleSection .searchBox ion-icon {
        font-size: 18px;
        color: white;
    }       
}

@media screen and (min-width: 736px) { 
    .photosGrid_Pictures {
        width: calc(33.3% - 15px);
        margin-bottom: 26px;
    }
 }
    
    
@media screen and (min-width: 981px) {
    .contentSection{
        max-width: : 935px;
        margin: auto;
    }

    .photosGrid__Pictures {
        height: 293px;
    }
}
