* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: linear-gradient(to bottom, #000000 50%, #666699 100%);
    padding: 20px;
}

/*.navigationList {
    list-style: none;
    display: flex;
    border-top: 1px solid #ccc;
}

.navigationItem {


}*/
.topSection {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #4682B4;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    display: flex;
}

/*.homeButton {
    width: 22px;
    margin-right: 25px;
}*/

.middleSection {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.middleSection .searchBox {

    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 10px;
}

.middleSection .searchBox input {
    width: 500px;
    border: 0;
    outline: 0;
    background: transparent;
}

.contentSection{
    border-top: 1px solid #ccc;
    padding: 10px 18%;
}

.contentSection .photosGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentSection .photosGrid_Pictures {
    width: calc(33.3% - 2px);
    height: 30vw;
    background-position: center;
    background-size: cover;
    margin-bottom: 3px;
}

.contentSection div.desc {
    padding: 15px;
    text-align: center;
  }

@media screen and (min-width: 736px) {
    .contentSection .photosGrid_Pictures {
        width: calc(33.3% - 15px);
        margin-bottom: 26px;
    }
}

@media screen and (min-width: 981px) {
    .contentSection{
        max-width: : 935px;
        margin: auto;
    }

    .contentSection .photosGrid_Pictures {
        height: 293px;
    }
}
